#etchBody {
    width: 700px;
    height: 700px;
    background-color: rgb(234,13,13);
    margin: auto;
    border-radius: 2%;
}

#container {
    margin: auto;
    padding: 100px;
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(16,1fr);
    border-radius: 20px;
    
}

.pixel {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(173,172,167);
    background-color: lightgrey;
}

.pixel_colored {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    background-color: rgb(50,52,49);
}

.circle {
    height: 50px;
    width: 50px;
    background-color: rgb(243,242,250);
    border-radius: 50%;
    position: relative;
  }

  .logo {
      color: rgb(209,161,37);
  }